In [1]:
import pandas as pd
import numpy as np
import requests
from tqdm.auto import tqdm
from scipy.stats import mode
from pprint import pprint
from implicit.nearest_neighbours import CosineRecommender, TFIDFRecommender
import warnings
warnings.filterwarnings("ignore")

from rectools import Columns
from rectools.dataset import Dataset, Interactions, IdMap

from service.rec_models.userknn import UserKnn

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)

# Get KION dataset

<a href="https://ods.ai/competitions/competition-recsys-21/data"> Dataset description [ru] </a>

In [2]:

# download dataset by chunks
# url = "https://storage.yandexcloud.net/itmo-recsys-public-data/kion_train.zip"
#
# req = requests.get(url, stream=True)
#
# with open('../datasets/kion_train.zip', "wb") as fd:
#     total_size_in_bytes = int(req.headers.get('Content-Length', 0))
#     progress_bar = tqdm(desc='kion dataset download', total=total_size_in_bytes, unit='iB', unit_scale=True)
#     for chunk in req.iter_content(chunk_size=2 ** 20):
#         progress_bar.update(len(chunk))
#         fd.write(chunk)

In [3]:
!unzip kion_train.zip

"unzip" ¬≠“ê –ø—û¬´–ø“ê–≤–±–ø —û¬≠–≥–≤–∞“ê¬≠¬≠“ê¬© –Å¬´–Å —û¬≠“ê–∏¬≠“ê¬©
–Ñ¬Æ¬¨¬†¬≠¬§¬Æ¬©, –Å–±–á¬Æ¬´¬≠–ø“ê¬¨¬Æ¬© –á–∞¬Æ–à–∞¬†¬¨¬¨¬Æ¬© –Å¬´–Å –á¬†–Ñ“ê–≤¬≠–ª¬¨ –¥¬†¬©¬´¬Æ¬¨.

# EDA

In [4]:
interactions = pd.read_csv('../datasets/kion_train/interactions.csv')
users = pd.read_csv('../datasets/kion_train/users.csv')
items = pd.read_csv('../datasets/kion_train/items.csv')

In [5]:
# rename columns, convert timestamp
interactions.rename(columns={'last_watch_dt': Columns.Datetime,
                            'total_dur': Columns.Weight},
                    inplace=True)

interactions['datetime'] = pd.to_datetime(interactions['datetime'])

## interactions

In [6]:
pd.concat([interactions.head(), interactions.tail()])

         user_id  item_id   datetime  weight  watched_pct
0         176549     9506 2021-05-11    4250         72.0
1         699317     1659 2021-05-29    8317        100.0
2         656683     7107 2021-05-09      10          0.0
3         864613     7638 2021-07-05   14483        100.0
4         964868     9506 2021-04-30    6725        100.0
5476246   648596    12225 2021-08-13      76          0.0
5476247   546862     9673 2021-04-13    2308         49.0
5476248   697262    15297 2021-08-20   18307         63.0
5476249   384202    16197 2021-04-19    6203        100.0
5476250   319709     4436 2021-08-15    3921         45.0

In [7]:
print(f"Interactions dataframe shape: {interactions.shape}")
print(f"Unique users in interactions: {interactions['user_id'].nunique():_}")
print(f"Unique items in interactions: {interactions['item_id'].nunique():_}")

Interactions dataframe shape: (5476251, 5)
Unique users in interactions: 962_179
Unique items in interactions: 15_706

In [8]:
max_date = interactions['datetime'].max()
min_date = interactions['datetime'].min()

print(f"min date in interactions: {min_date}")
print(f"max date in interactions: {max_date}")

min date in interactions: 2021-03-13 00:00:00
max date in interactions: 2021-08-22 00:00:00

In [9]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5476251 entries, 0 to 5476250
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   item_id      int64
 2   datetime     datetime64[ns]
 3   weight       int64
 4   watched_pct  float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 208.9 MB

## users

In [10]:
pd.concat([users.head(), users.tail()])

        user_id         age        income  sex  kids_flg
0        973171   age_25_34  income_60_90    –ú         1
1        962099   age_18_24  income_20_40    –ú         0
2       1047345   age_45_54  income_40_60    –ñ         0
3        721985   age_45_54  income_20_40    –ñ         0
4        704055   age_35_44  income_60_90    –ñ         0
840192   339025  age_65_inf   income_0_20    –ñ         0
840193   983617   age_18_24  income_20_40    –ñ         1
840194   251008         NaN           NaN  NaN         0
840195   590706         NaN           NaN    –ñ         0
840196   166555  age_65_inf  income_20_40    –ñ         0

In [11]:
print(f"Users dataframe shape {users.shape}")
print(f"Unique users: {users['user_id'].nunique():_}")

Users dataframe shape (840197, 5)
Unique users: 840_197

## items

In [12]:
# TODO
pd.concat([items.head(2), items.tail(2)])[["item_id", "content_type", "title", "release_year"]]

       item_id content_type           title  release_year
0        10711         film  –ü–æ–≥–æ–≤–æ—Ä–∏ —Å –Ω–µ–π        2002.0
1         2508         film     –ì–æ–ª—ã–µ –ø–µ—Ä—Ü—ã        2014.0
15961     4538       series    –°—Ä–µ–¥–∏ –∫–∞–º–Ω–µ–π        2019.0
15962     3206       series            –ì–æ—à–∞        2019.0

In [13]:
print(f"Items dataframe shape {items.shape}")
print(f"Unique item_id: {items['item_id'].nunique():_}")

Items dataframe shape (15963, 14)
Unique item_id: 15_963

## IdMap

In [14]:
userMap = IdMap.from_values(interactions[Columns.User])
itemMap = IdMap.from_values(interactions[Columns.Item])

#  userkNN model  CV

Compare implicit `CosineRecommender` and `TFIDFRecommender` as an ItemKnn base

In [15]:
# setting for cv
n_folds = 1
unit = "W"
n_units = 1

last_date = interactions[Columns.Datetime].max().normalize()
start_date = last_date - pd.Timedelta(n_folds * n_units + 1, unit=unit)
print(f"Start date and last date of the test fold: {start_date, last_date}")

Start date and last date of the test fold: (Timestamp('2021-08-08 00:00:00'), Timestamp('2021-08-22 00:00:00'))

### Test fold borders

In [16]:
from rectools.model_selection import TimeRangeSplitter

periods = n_folds + 1
freq = f"{n_units}{unit}"
print(
    f"start_date: {start_date}\n"
    f"last_date: {last_date}\n"
    f"periods: {periods}\n"
    f"freq: {freq}\n"
)

date_range = pd.date_range(start=start_date, periods=periods, freq=freq, tz=last_date.tz)
print(f"Test fold borders: {date_range.values.astype('datetime64[D]')}")

# generator of folds
cv = TimeRangeSplitter(
    date_range=date_range,
    filter_already_seen=True,
    filter_cold_items=True,
    filter_cold_users=True,
)

rec_interactions = Interactions.from_raw(interactions, userMap, itemMap)
print(f"Real number of folds: {cv.get_n_splits(rec_interactions)}")

start_date: 2021-08-08 00:00:00
last_date: 2021-08-22 00:00:00
periods: 2
freq: 1W

Test fold borders: ['2021-08-08' '2021-08-15']
Real number of folds: 1

In [17]:
from rectools.metrics import Precision, Recall, MeanInvUserFreq, Serendipity, MAP, calc_metrics

# calculate several classic (precision@k and recall@k) and "beyond accuracy" metrics
metrics = {
    "prec@10": Precision(k=10),
    "recall@10": Recall(k=10),
    "novelty": MeanInvUserFreq(k=10),
    "serendipity": Serendipity(k=10),
    "MAP@10": MAP(k=10),
}

# few simple models to compare
models = {
    "cosine_itemknn": CosineRecommender(),
    "tfidf_itemknn": TFIDFRecommender(),
}

# Model training by fold

In [18]:
%%time

results = []

fold_iterator = cv.split(rec_interactions, collect_fold_stats=True)

for i_fold, (train_ids, test_ids, fold_info) in enumerate(fold_iterator):
    print(f"\n==================== Fold {i_fold}")
    pprint(fold_info)

    df_train = rec_interactions.df.iloc[train_ids].copy()
    df_test = rec_interactions.df.iloc[test_ids][Columns.UserItem].copy()

    catalog = df_train[Columns.Item].unique()

    for model_name, model in models.items():
        if model_name == "cosine_itemknn":
            userknn_model = UserKnn.load("userknn_cosine.dill")
        else:
            userknn_model = UserKnn.load("userknn_tfidf.dill")

        recos = userknn_model.predict(df_test)

        metric_values = calc_metrics(
            metrics,
            reco=recos,
            interactions=df_test,
            prev_interactions=df_train,
            catalog=catalog,
        )

        fold = {"fold": i_fold, "model": model_name}
        fold.update(metric_values)
        results.append(fold)

==================== Fold 0
{'End date': Timestamp('2021-08-15 00:00:00', freq='W-SUN'),
 'Start date': Timestamp('2021-08-08 00:00:00', freq='W-SUN'),
 'Test': 276699,
 'Test items': 6715,
 'Test users': 101983,
 'Train': 4587708,
 'Train items': 15404,
 'Train users': 842129}
    user_id sim_user_id       sim item_id  index  doc_freq        idf  \
6    949170      450397  0.707107    4492   4492        76  10.995103
10   949170      359329  0.707107    3883   3883       278   9.707740
0    949170      317103  0.707107    3691   3691       401   9.342527
12   949170      801902  0.707107     713    713       605   8.932143
11   949170       98767  0.707107    1568   1568       697   8.790824

      score    model
6   7.77471  userKNN
10  6.86441  userKNN
0   6.60616  userKNN
12  6.31598  userKNN
11  6.21605  userKNN
   user_id  item_id     score  rank    model
0        0       25  173497.0     1  popular
1        0       21  166377.0     2  popular
2        0       16  108030.0     3  popular
3        0       32  105804.0     4  popular
4        0      174   79863.0     5  popular
         item_id   score  user_id  user_internal_id           model
0             29  173497        6             29163  common_popular
1             29  173497       33             64090  common_popular
2             29  173497       56            239483  common_popular
3             29  173497       72             39920  common_popular
4             29  173497       85              5305  common_popular
...          ...     ...      ...               ...             ...
1019825      104   37536   250388            787053  common_popular
1019826      104   37536   753971            657940  common_popular
1019827      104   37536   260065            222718  common_popular
1019828      104   37536   310437            266637  common_popular
1019829      104   37536   106499             90300  common_popular

[1019830 rows x 5 columns]
   user_id item_id    score    model
0   949170    4492  7.77471  userKNN
1   949170    3883  6.86441  userKNN
2   949170    3691  6.60616  userKNN
3   949170     713  6.31598  userKNN
4   949170    1568  6.21605  userKNN
5   949170    1123   6.1091  userKNN
6   949170    1020  5.86553  userKNN
7   949170    1437  5.24477  userKNN
8   949170     728  4.99132  userKNN
9   949170      26  4.29844  userKNN
    user_id sim_user_id       sim item_id  index  doc_freq       idf    score  \
0    949170      354563  0.965785    3691   3691       401  9.342527  9.02288
10   949170      534280  0.818746     728    728      3947  7.058787  5.77935
9    949170       69892  0.836912     697    697      5666  6.697711  5.60539
7    949170      328424  0.867677      26     26     10532  6.078916  5.27454
6    949170      404791  0.907195      68     68     24276  5.246884  4.75995

      model
0   userKNN
10  userKNN
9   userKNN
7   userKNN
6   userKNN
   user_id  item_id     score  rank    model
0        0       25  173497.0     1  popular
1        0       21  166377.0     2  popular
2        0       16  108030.0     3  popular
3        0       32  105804.0     4  popular
4        0      174   79863.0     5  popular
         item_id   score  user_id  user_internal_id           model
0             29  173497        6             29163  common_popular
1             29  173497       33             64090  common_popular
2             29  173497       56            239483  common_popular
3             29  173497       72             39920  common_popular
4             29  173497       85              5305  common_popular
...          ...     ...      ...               ...             ...
1019825      104   37536   250388            787053  common_popular
1019826      104   37536   753971            657940  common_popular
1019827      104   37536   260065            222718  common_popular
1019828      104   37536   310437            266637  common_popular
1019829      104   37536   106499             90300  common_popular

[1019830 rows x 5 columns]
   user_id item_id    score    model
0   949170    3691  9.02288  userKNN
1   949170     728  5.77935  userKNN
2   949170     697  5.60539  userKNN
3   949170      26  5.27454  userKNN
4   949170      68  4.75995  userKNN
5   949170     233  4.57341  userKNN
6   949170     142  4.15176  userKNN
7   949170      84  4.06193  userKNN
8   949170     174  3.81034  userKNN
9   949170      16  3.64294  userKNN
CPU times: total: 1min 40s
Wall time: 1min 40s

# üëå Metrics

`Metrics by fold`

## Metric description
- ### <a href="https://rectools.readthedocs.io/en/latest/api/rectools.metrics.novelty.MeanInvUserFreq.html#rectools.metrics.novelty.MeanInvUserFreq"> Mean Inverse User Frequency (novelty)</a>

- ### <a href="https://rectools.readthedocs.io/en/latest/api/rectools.metrics.serendipity.Serendipity.html"> Serendipity = novelty and relevance</a>

In [19]:
df_metrics = pd.DataFrame(results)
df_metrics

   fold           model   prec@10  recall@10    MAP@10   novelty  serendipity
0     0  cosine_itemknn  0.004330   0.021349  0.004101  8.064291     0.000071
1     0   tfidf_itemknn  0.006533   0.033999  0.006533  8.203455     0.000081

In [20]:
df_metrics.to_pickle("df_metrics.pickle")

## Metrics mean by fold
`we can compare two models`

In [21]:
df_metrics.groupby('model').mean()[metrics.keys()]

                 prec@10  recall@10   novelty  serendipity    MAP@10
model
cosine_itemknn  0.004330   0.021349  8.064291     0.000071  0.004101
tfidf_itemknn   0.006533   0.033999  8.203455     0.000081  0.006533

## Metrics std by fold

`If a diff between model metrics less than an std value => there is no significant difference observed`

- For instance, for the serendipity metric there is no such difference between cosine_itemknn and tfidf_itemknn model results

In [22]:
df_metrics.groupby('model').std()[metrics.keys()]

                prec@10  recall@10  novelty  serendipity  MAP@10
model
cosine_itemknn      NaN        NaN      NaN          NaN     NaN
tfidf_itemknn       NaN        NaN      NaN          NaN     NaN

In [23]:
df = df_metrics.groupby('model').mean()[metrics.keys()]

In [24]:
diff = df.loc['cosine_itemknn'] - df.loc['tfidf_itemknn']
diff

prec@10       -0.002203
recall@10     -0.012650
novelty       -0.139164
serendipity   -0.000010
MAP@10        -0.002432
dtype: float64

In [25]:
print(f"Items dataframe shape {items.shape}")
print(f"Unique item_id: {items['item_id'].nunique():_}")

Items dataframe shape (15963, 14)
Unique item_id: 15_963